.task-container {
    background-color: #444;
    margin: 0.5rem 0;
    padding: 0.938rem 1.25rem;
    display: flex;
    border-radius: 0.313rem;
    justify-content: space-between;
    color: #eee;
    align-items: center;
    cursor: pointer;
}
.buttons-container {
    width: 30%;
    display: flex;
    justify-content: end;
}

.remove-task-button {
    background-color: #444;
    border: 0;
    font-size: 1.5rem;
    color: #7fff00;
    cursor: pointer;
    margin: 0 0.313rem;
}
.see-task-details-button {
    background-color: #444;
    border: 0;
    font-size: 1.5rem;
    color: #7fff00;
    cursor: pointer;
    margin: 0 0.313rem;
}
